absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.2.1
argon2-cffi==20.1.0
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
bleach==3.3.1
blis==0.7.4
boto3==1.18.36
botocore==1.21.36
brotlipy==0.7.0
cachetools==5.0.0
catalogue==2.0.4
certifi==2021.5.30
cffi==1.14.6
chardet==3.0.4
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==7.1.2
clip @ git+https://github.com/openai/CLIP.git@b4ae44927b78d0093b556e3ce43cbdcff422017a
cosine-annealing-warmup @ git+https://github.com/katsura-jp/pytorch-cosine-annealing-with-warmup@2958117072f214dce743f918d6a2253f682ab65d
cryptography==36.0.2
cycler==0.10.0
cymem==2.0.5
Cython==0.29.23
debugpy==1.3.0
decorator==5.0.9
defusedxml==0.7.1
entrypoints==0.3
faiss==1.5.3
fastai==2.4.1
fastai-ulmfit==0.0.4
fastcore==1.3.25
fastprogress==1.0.0
filelock==3.0.12
flatbuffers==2.0
frozenlist==1.3.0
fsspec==2022.3.0
ftfy==6.1.1
google-auth==2.6.6
google-auth-oauthlib==0.4.6
googletrans==4.0.0rc1
graphviz==0.8.4
grpcio==1.44.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.9.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.0.16
hyperframe==5.2.0
idna==2.10
imageio==2.18.0
importlib-metadata==4.11.3
ipykernel==6.0.2
ipython==7.25.0
ipython-genutils==0.2.0
ipywidgets==7.6.4
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-server==1.9.0
jupyterlab==3.0.16
jupyterlab-pygments==0.1.2
jupyterlab-server==2.6.1
jupyterlab-widgets==1.0.1
kiwisolver==1.3.1
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
multidict==6.0.2
murmurhash==1.0.5
mxnet==1.8.0.post0
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
nltk==3.6.2
notebook==6.4.0
numpy==1.21.0
oauthlib==3.2.0
onnxruntime==1.8.0
outcome==1.1.0
packaging==20.9
pandas==1.3.1
pandocfilters==1.4.3
parso==0.8.2
pathy==0.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
preshed==3.0.5
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.2
pyDeprecate==0.3.2
Pygments==2.9.0
pyOpenSSL==22.0.0
pyparsing==2.4.7
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.2
pytorch-lightning==1.6.2
pytorch-model-summary==0.1.2
pytz==2021.1
PyWavelets==1.3.0
PyYAML==5.4.1
pyzmq==22.1.0
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
rfc3986==1.5.0
rsa==4.8
s3transfer==0.5.0
sacremoses==0.0.45
scikit-image==0.19.2
scikit-learn==0.24.2
scipy==1.7.1
selenium==4.1.3
Send2Trash==1.7.1
sentencepiece==0.1.91
six==1.16.0
smart-open==5.1.0
sniffio==1.2.0
sortedcontainers==2.4.0
spacy==3.1.1
spacy-legacy==3.0.8
srsly==2.4.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
terminado==0.10.1
testpath==0.5.0
thinc==8.0.8
threadpoolctl==2.2.0
tifffile==2021.11.2
tokenizers==0.10.3
torch==1.11.0
torchaudio==0.11.0
torchmetrics==0.8.1
torchvision==0.10.0
tornado==6.1
tqdm==4.61.1
traitlets==5.0.5
transformers @ git+https://github.com/huggingface/transformers@26700a951672f795e553cf0a357c1f221c6053c1
trio==0.20.0
trio-websocket==0.9.2
typer==0.3.2
typing-extensions==4.2.0
urllib3==1.26.6
wasabi==0.8.2
wcwidth==0.2.5
webdriver-manager==3.5.4
webencodings==0.5.1
websocket-client==1.1.0
Werkzeug==2.1.1
widgetsnbextension==3.5.1
wsproto==1.1.0
yarl==1.7.2
zipp==3.4.1
